
.wrapper {
}
.header {
}
.container {
}
.main {
    flex: 1 1 auto;
}
.bet__field {
    margin: 10px auto;
    /* border: 2px solid black; */
    max-width: 300px;
}
.zero__field {
    width: 100%;
    min-height: 40px;
    background-color: green;
    color: white;
    text-align: center;
    padding-top: 3%;
    font-size: 25px;
}
.numbers__field {
    display: flex;
    flex-wrap: wrap;
}
.number__block {
    width: 100px;
    height: 42px;
    text-align: center;
    padding-top: 2%;
    font-size: 30px;
    color: white;
    border-bottom: 1px solid black;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}
.footer {
}
